 
<div  class="card text-center"  >
     <img [src]="cardImage" class="card-image-top card_image" *ngIf="state == CardStateEnum.Opened" />
      <div class="card-image-top card_image" *ngIf="state != CardStateEnum.Opened"></div>
</div>
