 
<div class="container-fluid pt-2">
<div class="alert alert-success" role="alert" *ngIf="gameWon">
    You Won!
</div>
<div class="card-deck">
    <div *ngFor="let cardImage of deck; index as i">
        <game-card
            [cardImage]="cardImage"
            [cardIndex]="i"
            [state]="deckStates[i]"
            (click)="handleClick(i)"></game-card>
    </div>
</div>  
</div>