<div class="navbar navbar-dark bg-dark box-shadow p-0">
    <div class="container-fluid d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <img src="assets/splendex-logo.svg" alt="Splendex " class="splendex-logo">
        </a>
      <div class="d-flex">
        <div class="mr-auto p-2"> <a class="" [routerLink]="['/main']"  routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">New Game</a></div>
        <div class="p-2"><a class="" [routerLink]="['/rules']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Rules</a></div>
    </div>
    </div>
   
          
    
      
</div>