
<section class="">

    <form class="form-row" [formGroup]="postForm"  (ngSubmit)="onSubmit()">

            <div class="col col-12">
                <label for="name" class="control-label required">Deck Size</label>
            
                <select class="form-control" id="deck_size" id="deck_size" formControlName="deck_size">
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select>
             </div>
         
            <div class="col col-12 text-center mt-4 mb-4">
                <button type="submit" class="btn btn-primary">Start New Game</button>
            </div>

    </form>
</section>